@model SolutionsTech.MVC.Dtos.ViewModel.SchedulingView

@{
    ViewData["Title"] = "Index";
}
@{
	ViewData["Title"] = "Formularios";
}

<link href="~/datatable/datatable.css" rel="stylesheet" />

<style>
	body {
		font-size: 18px; /* Aumenta a fonte geral da página */
	}

	.page-title {
		font-size: 24px; /* Aumenta o título */
	}

	table {
		font-size: 18px; /* Aumenta a fonte dentro da tabela */
	}

	.btn {
		font-size: 18px; /* Aumenta os botões */
	}

	table {
		font-size: 18px; /* Aumenta o tamanho da fonte */
	}

	th, td:not(.sorting_1) {
		text-align: center !important;
		vertical-align: middle !important;
	}

	a.text-body {
		font-size: 18px; /* Aumenta os botões */
	}

</style>

<div class="row">
	<div class="col-12">
		<div class="page-title-box">
			<div class="page-title-right">
			</div>
			<h4 class="page-title">Agendamentos</h4>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="row mb-2">
					<div class="col-sm-5">
                        <form asp-action="Create" method="get">
                            <button class="btn btn-danger mb-2" type="submit">
                                <i class="ri-add-circle-fill me-2"></i> Criar Agendamento
                            </button>
                        </form>
                    </div>
                    <div class="col-sm-7">
                        <div class="text-sm-end">
                            <button type="button" class="btn btn-success mb-2 me-1">Exportar Dados</button>
                        </div>
                    </div>
                </div>
                <table id="example" class="table" style="width:100%">
                    <thead class="table-light">
                        <tr>
                            <th>Procedimento</th>
                            <th>Cliente</th>
                            <th>Forma de Pagamento</th>
							<th>Valor Total</th>
							<th>Observação</th>
                        </tr>
                    </thead>
					<tbody>
						@foreach (var item in Model.Schedulings)
						{
							<tr class="sorting_3 text-center">
								<td>
									@Html.DisplayFor(modelItem => item.TypeProcedure)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.User)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.FormPayment)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.TotalValue)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Observation)
								</td>
								<td class="table-action">
									<a asp-action="Edit" asp-route-id="@item.IdScheduling" class="action-icon">
										<i class="ri-edit-box-line"></i>
									</a>

									<a asp-action="Delete" asp-route-id="@item.IdScheduling" class="action-icon">
										<i class="ri-delete-bin-line"></i>
									</a>
								</td>
							</tr>
						}
					</tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/datatable/datatable.js"></script>

    <script>

        $(document).ready(function () {
            new DataTable('#example');
        });

    </script>
}