@model List<SolutionsTech.MVC.Dto.SchedulingDto>

@{
    ViewData["Title"] = "Formulários";
}

<link href="~/datatable/datatable.css" rel="stylesheet" />

<style>
    body {
        font-size: 18px;
    }

    .page-title {
        font-size: 24px;
    }

    table {
        font-size: 18px;
    }

    .btn {
        font-size: 18px;
    }

    th, td:not(.sorting_1) {
        text-align: center !important;
        vertical-align: middle !important;
    }

    a.text-body {
        font-size: 18px;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Agendamentos</h4>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-5">
                        <form asp-action="Create" method="get">
                            <button class="btn btn-danger mb-2" type="submit">
                                <i class="ri-add-circle-fill me-2"></i> Criar Agendamento
                            </button>
                        </form>
                    </div>
                    <div class="col-sm-7">
                        <div class="text-sm-end">
                            <button type="button" class="btn btn-success mb-2 me-1">Exportar Dados</button>
                        </div>
                    </div>
                </div>

                <table id="example" class="table" style="width:100%">
                    <thead class="table-light">
                        <tr>
                            <th>Procedimento</th>
                            <th>Cliente</th>
                            <th>Forma de Pagamento</th>
                            <th>Valor Total</th>
                            <th>Observação</th>
                            <th>Data Criação</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="sorting_3 text-center">
                                <td>
                                    @foreach (var i in item.SchedulingProcedures)
                                    {
                                        <span class="badge bg-primary me-1">@i.TypeProcedure.Name</span>
                                    }
                                </td>
                                <td>
                                    @item.User?.Name
                                </td>
                                <td>
                                    @item.FormPayment?.Name
                                </td>
                                <td>
                                    @item.TotalValue.ToString("C")
                                </td>
                                <td>
                                    @item.Observation
                                </td>
                                <td>
                                    @item.DtCreate.ToString("dd/MM/yyyy HH:mm")
                                </td>
                                <td class="table-action">
                                    <a asp-action="Edit" asp-route-id="@item.IdScheduling" class="action-icon">
                                        <i class="ri-edit-box-line"></i>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.IdScheduling" class="action-icon">
                                        <i class="ri-delete-bin-line"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/datatable/datatable.js"></script>

    <script>
        $(document).ready(function () {
            new DataTable('#example');
        });
    </script>
}
