@model IEnumerable<SolutionsTech.Business.Entities.Invoicing>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desconto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFaturamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desconto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFaturamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdInvoicing">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdInvoicing">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdInvoicing">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
